@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Onest:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@theme{
  --font-inter:"Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-hero-gradiant{
  background-image: url('https://res.cloudinary.com/dkg6jv4l0/image/upload/v1741463740/oyc7wnuosrnwjwhrark3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-hero-gradiant::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.75);
  z-index: 1;
}

.gradient-input{
  background: linear-gradient(
    144.39deg,
    rgba(255,255,255,0.4) - 278.56%,
    rgba(109,109,109,0.4) - 78.47%,
    rgba(17,16,29,0.4) - 122.61%,);
    border-radius: 8px;
    padding: 16px;
    color: white;
    outline: none;
}
.gradient-input::placeholder{
  color: white;
}

.scroll-hidden{
  scrollbar-width: none;
  -ms-overflow-style: none;
}

